astroid==1.6.5
autopep8==1.4.3
#backports.functools-lru-cache==1.5
certifi==2018.11.29
chardet==3.0.4
configparser==3.7.1
cycler==0.10.0
dodgy==0.1.9
entrypoints==0.3
enum34==1.1.6
#functools32==3.2.3.post2
future==0.17.1
#futures==3.2.0
gym==0.11.0
-e git://github.com/ranok92/gym-ballenv@c99be6508957b194a75811ee941ef00a3ed5d06f#egg=gym_ballenv
idna==2.8
isort==4.3.4
jedi==0.13.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
numpy==1.15.4
parso==0.3.3
pep8-naming==0.4.1
Pillow==5.4.1
pip-autoremove==0.9.1
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==1.6.0
pygame==1.9.4
pyglet==1.3.2
pylint==1.9.4
pylint-celery==0.3
pylint-django==0.8.1
pylint-flask==0.5
pylint-plugin-utils==0.4
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requirements-detector==0.6
scipy==1.2.1
setoptconf==0.2.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
subprocess32==3.5.3
torch==1.0.1.post2
torchvision==0.2.1
typing==3.6.6
urllib3==1.24.1
wrapt==1.11.1
